#query-form {
    display: flex;
    flex-direction: column;
}
.search-input {
    /* margin-bottom: 0.5rem;
                                margin-top: 0.5rem; */
        margin-top: 5px;
    width: 100%;
}

.search-inline-check {
    display: none
}

.search-inline-check+label {
    margin-left: 2px;
    display: inline-flex !important;
    border: calc(var(--border-width) * 1px) solid transparent;
    border-radius: calc(var(--checkbox-corner-radius) * 1px);
}

.search-inline-check:checked+label {
    border-color: var(--vscode-inputOption-activeBorder);
}
.control-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 5px;
    justify-content: space-between;
}
.db-needed {
    display: none;
}

.db-available .db-needed {
    display: inline-block;
}

#tag-no-db {
    display: block;
}

.db-available #tag-no-db {
    display: none;
}